input:focus{
    outline: none;
    transition:border 0.5s linear;
    border-bottom: 1px solid black
}
select:focus, option:active{
    outline: none;

}
select{
    padding: 5px;
}
fieldset{
    border: none;
}
.right{
    margin-top:3%;
    margin-left: 70%;
}
.fieldError{
    color:orangered;
    margin-left: 2.5%;
    font-size: 0.8em
}
.wrong-password{
    font-size: 1.1em;
    margin-top: -1%;
}
.invalid{
    border: 1px solid orangered;
}